target
*jar
/lib/
/classes/
.lein*
*.swp
*.swo
*.aux
*.dvi
*.pdf
*.log
*~
/.classpath
/.project
/.settings
/bin
.gitignore
.nrepl-port
.repl
.\#*
.idea
**.class
*.iml
.nrepl-port
.DS_Store
.cljs_*
nashorn_*
.cpcache
.rebel_readline_history
junit-output.xml
