{:paths []
 :deps {org.clojure/core.typed.rt {:local/root "module-rt/"
                                   :deps/manifest :deps}
        org.clojure/core.typed.infer {:local/root "module-infer"
                                      :deps/manifest :deps}
        org.clojure/core.typed.analyzer.jvm {:local/root "module-analyzer-jvm"
                                             :deps/manifest :deps}
        org.clojure/core.typed {:local/root "module-check"
                                :deps/manifest :deps}
        }
 }
