{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/core.typed.analyzer.jvm {:local/root "module-analyzer-jvm"
                                             :deps/manifest :deps}
        org.clojure/core.typed.annotator.jvm {:local/root "module-annotator.jvm"
                                              :deps/manifest :deps}
        org.clojure/core.typed.runtime.jvm {:local/root "module-runtime.jvm"
                                            :deps/manifest :deps}
        org.clojure/core.typed.checker.jvm {:local/root "module-checker.jvm"
                                            :deps/manifest :deps}}
 }
