{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}}
 :aliases {:merge-deps 
           {:main-opts ["-m" "typed.dev.merge-deps"]}
           :dev-repl 
           {:main-opts ["-m" "typed.dev.repl"]}
           }}
