{:paths ["src/main/clojure"
         "src/main/cljc"
         "src/main/java"]
 :deps {org.clojure/core.typed.rt {:local/root "../module-rt/"
                                   :deps/manifest :deps}
        org.clojure/tools.reader {:mvn/version "1.1.1"}
        org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
        org.clojure/math.combinatorics {:mvn/version "0.1.4"
                                        :exclusions [org.clojure/clojure]}
        org.clojure/tools.analyzer.jvm {:mvn/version "0.7.0"}
        ;; can't vendor this as it includes Java sources that need to be compiled.
        ;; perhaps we can make it optional in the future.
        potemkin {:mvn/version "0.4.5"}
        }
 :aliases {; profile for testing
           :test
           {:extra-paths ["src/test/clojure"]
            :extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}
                         com.gfredericks/test.chuck {:mvn/version "0.2.6"}}}
           ; actually run tests, assumes :test alias
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "src/test/clojure"
                        "-r" ".*"]}}}
