{:paths ["src/main/clojure"
         "src/main/cljs"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.typed.checker.jvm {:local/root "../checker.jvm"
                                            :deps/manifest :deps}
        org.clojure/core.typed.runtime.jvm {:local/root "../runtime.jvm"
                                            :deps/manifest :deps}
        org.clojure/clojurescript {:mvn/version "1.10.373"}}
 :aliases {:nREPL
           {:extra-paths ["script"]
            :extra-deps
            {nrepl/nrepl {:mvn/version "0.4.5"}
             cider/piggieback {:mvn/version "0.3.8"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}

           :reply
           {:extra-deps
            {reply {:mvn/version "0.4.1"}}
            :main-opts ["-m" "reply.main"]}

           :start-repl
           {:extra-paths ["script"]
            :extra-deps
            {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts ["-m" "start-repl"]}

           :clj-1.10.0-beta5 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0-beta5"}}}
           :test
           {:extra-paths ["src/test/clojure"
                          "src/test/cljs"
                          ; for clojure.core.typed.test.common-utils
                          "../module-checker.jvm/src/test/clojure"
                          "../module-checker.jvm/src/test/cljs"]
            :extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.6"
                                                  :exclusions [org.clojure/clojure]}
                         org.clojure/core.async {:mvn/version "0.3.465"
                                                 :exclusions [org.clojure/tools.analyzer.jvm]}
                         org.clojure/tools.trace {:mvn/version "0.7.5"
                                                  :exclusions [org.clojure/clojure]}
                         org.clojure/test.check {:mvn/version "0.9.0"}
                         com.gfredericks/test.chuck {:mvn/version "0.2.6"}}}
           :runner
           {:extra-deps {org.typedclojure/test-runner
                         {:git/url "https://github.com/typedclojure/test-runner"
                          :sha "2d7af465ac90b2d083753daf251bdb4a09ae97cd"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "src/test/clojure/clojure/core/typed/test"
                        "-r" ".*"
                        ;"-w" "clojure.test.junit/with-junit-output"
                        ;"-o" "junit-output.xml"
                        ]}}}
