{:paths ["src/main/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        org.clojure/core.typed.analyzer.common {:local/root "../module-analyzer.common"
                                                :deps/manifest :deps}}
 :mvn/repos
 {"sonatype-oss-public"
  {:url "https://oss.sonatype.org/content/groups/public/"}},
 :aliases {:nREPL
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.4.5"}
             cider/piggieback {:mvn/version "0.3.8"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--interactive"]}
           :test
           {:extra-paths ["src/test/clojure"]}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "src/test/clojure"]}}}
