{:paths ["src"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/core.cache {:mvn/version "0.8.2"},
  org.clojure.typed/analyzer.jvm {:local/root "../analyzer.jvm" :deps/manifest :deps},
  org.clojure.typed/lang.jvm {:local/root "../lang.jvm" :deps/manifest :deps},
  org.clojure.typed/lib.clojure {:local/root "../lib.clojure" :deps/manifest :deps},
  org.clojure.typed/runtime.jvm {:local/root "../runtime.jvm" :deps/manifest :deps},
  org.clojure/math.combinatorics {:mvn/version "0.1.4", :exclusions [org.clojure/clojure]},
  org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"},
  org.clojure/tools.reader {:mvn/version "1.1.1"}},
 :mvn/repos
 {"sonatype-oss-public"
  {:url "https://oss.sonatype.org/content/groups/public/"}},
 :aliases
 {:script {:extra-paths ["script"]},
  :nREPL
  {:extra-deps
   {nrepl/nrepl {:mvn/version "0.6.0"}
    cider/cider-nrepl {:mvn/version "0.22.4"}},
   :main-opts ["-m" "nrepl.cmdline" "--interactive"
               #_"
               Note:
                 introducing other middleware makes vim-fireplace choose
                 fipp for pprint, which doesn't play well with the delicately
                 defined classes in type-rep."
               "--middleware" "[cider.nrepl/wrap-complete]"
               ]},
  :test
  {:extra-paths ["test" "resources"],
   :extra-deps
   {org.clojure/tools.nrepl
    {:mvn/version "0.2.6", :exclusions [org.clojure/clojure]}}},
  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-590"}}}
  :runner
  {:extra-deps
   {org.typedclojure/test-runner
    {:git/url "https://github.com/typedclojure/test-runner",
     :sha "2d7af465ac90b2d083753daf251bdb4a09ae97cd"}},
   :main-opts
   ["-m"
    "cognitect.test-runner"
    "-d"
    "test/clojure/core/typed/test"
    "-r"
    ".*"]}}}
