{:paths ["src/main/clojure"]
 :deps {org.clojure/tools.analyzer.jvm {:mvn/version "0.7.0"}}
 :aliases {:test
           {:extra-paths ["src/test/clojure"]
            :extra-deps {org.clojure/core.async {:mvn/version "0.3.465"
                                                 :exclusions [org.clojure/tools.analyzer.jvm]}
                         org.clojure/core.typed.rt {:local/root "../module-rt"}}}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-r" ".*"
                        "-d" "src/test/clojure"]}}}
